include README.md
recursive-exclude testproject *

include baseapp/README.md
recursive-include baseapp/templates *
recursive-include baseapp/static *
recursive-include baseapp/locale *

include baseapp_blocks/README.md
recursive-include baseapp_blocks/templates *
recursive-include baseapp_blocks/static *
recursive-include baseapp_blocks/locale *

include baseapp_core/README.md
recursive-include baseapp_core/templates *
recursive-include baseapp_core/static *
recursive-include baseapp_core/locale *

include baseapp_follows/README.md
recursive-include baseapp_follows/templates *
recursive-include baseapp_follows/static *
recursive-include baseapp_follows/locale *

include baseapp_notifications/README.md
recursive-include baseapp_notifications/templates *
recursive-include baseapp_notifications/static *
recursive-include baseapp_notifications/locale *

include baseapp_pages/README.md
recursive-include baseapp_pages/templates *
recursive-include baseapp_pages/static *
recursive-include baseapp_pages/locale *

include baseapp_payments/README.md
recursive-include baseapp_payments/templates *
recursive-include baseapp_payments/static *
recursive-include baseapp_payments/locale *

include baseapp_ratings/README.md
recursive-include baseapp_ratings/templates *
recursive-include baseapp_ratings/static *
recursive-include baseapp_ratings/locale *

include baseapp_reactions/README.md
recursive-include baseapp_reactions/templates *
recursive-include baseapp_reactions/static *
recursive-include baseapp_reactions/locale *

include baseapp_reports/README.md
recursive-include baseapp_reports/templates *
recursive-include baseapp_reports/static *
recursive-include baseapp_reports/locale *

include baseapp_comments/README.md
recursive-include baseapp_comments/templates *
recursive-include baseapp_comments/static *
recursive-include baseapp_comments/locale *

include baseapp_cloudflare_stream_field/README.md
recursive-include baseapp_cloudflare_stream_field/templates *
recursive-include baseapp_cloudflare_stream_field/static *
recursive-include baseapp_cloudflare_stream_field/locale *

include baseapp_url_shortening/README.md
recursive-include baseapp_url_shortening/templates *
recursive-include baseapp_url_shortening/static *
recursive-include baseapp_url_shortening/locale *

include baseapp_organizations/README.md
recursive-include baseapp_organizations/templates *
recursive-include baseapp_organizations/static *
recursive-include baseapp_organizations/locale *

include baseapp_chats/README.md
recursive-include baseapp_chats/templates *
recursive-include baseapp_chats/static *
recursive-include baseapp_chats/locale *

include baseapp_e2e/README.md
recursive-include baseapp_e2e/templates *
recursive-include baseapp_e2e/static *
recursive-include baseapp_e2e/locale *

include baseapp_drf_view_action_permissions/README.md
recursive-include baseapp_drf_view_action_permissions/templates *
recursive-include baseapp_drf_view_action_permissions/static *
recursive-include baseapp_drf_view_action_permissions/locale *

include baseapp_social_auth/README.md
recursive-include baseapp_social_auth/templates *
recursive-include baseapp_social_auth/static *
recursive-include baseapp_social_auth/locale *

include baseapp_wagtail/README.md
recursive-include baseapp_wagtail/templates *
recursive-include baseapp_wagtail/static *
recursive-include baseapp_wagtail/locale *

include baseapp_profiles/README.md
recursive-include baseapp_profiles/templates *
recursive-include baseapp_profiles/static *
recursive-include baseapp_profiles/locale *
