djangorestframework-simplejwt[crypto]==5.2.2
django-avatar==7.1.1
django-constance[database]==2.9.1
django-jinja==2.10.2
requests==2.31.0

# test
freezegun==1.2.1
pytest==6.2.5
httpretty==1.1.4
pytest-django==4.5.2
# test factories
factory-boy==3.2.1

# lint
black==22.10.0
flake8==5.0.4
isort==5.10.1

# channels
channels==4.0.0
channels_redis==4.0.0

# runs the app server
daphne==4.0.0

# Multi-factor authentication
django-trench @ https://github.com/silverlogic/django-trench/archive/refs/tags/v0.3.3.zip

# TODO: should be baseapp_referrals dependency
hashids==1.3.1
