[run]
relative_files = True
source = ./
branch = True
omit =
    ./testproject/*
    **/tests/*
    settings/*
    */migrations/*
    */*/migrations/*
    */*/*/migrations/*
    */admin.py
    */*/admin.py
    */*/*/admin.py

[report]
fail_under = 75
omit = 
    */migrations/*
    */*/migrations/*
    */*/*/migrations/*
    */admin.py
    */*/admin.py
    */*/*/admin.py
