[run]
relative_files = True
source = ./
branch = True
omit =
    ./testproject/*
    **/tests/*
    **/migrations/*
    settings/*
    */migration*

[report]
fail_under = 75
omit = 
    settings/*
    **/migrations/*
    */migration*
