[run]
relative_files = True
source = ./
branch = True
omit =
    ./testproject/*
    **/tests/*
    */sentry.py
    */live.py
    */pipeline.py
    */deprecation.py
    */manage.py
    */setup.py

[report]
fail_under = 75
