__pycache__/
.cache/
/apidocs/build/
**/venv
.DS_Store
.scannerwork/
.env
*.egg-info

# workspace files are user-specific
*.sublime-workspace
**/*.code-workspace
.idea/

# generated UMLs
uml-*.*
.env
.bash_history

src
