{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello Superusers,{% endtrans %}

{% trans %}Please be notified that the account for {{ user_email }} has been successfully anonymized.{% endtrans %}

{% trans %}If this was unexpected, please contact our support team.{% endtrans %}
{% endblock %}