{% extends 'emails/base.html.j2' %}

{% block content %}
<p class="t-h5">{% trans %}Hello,{% endtrans %}</p>
<p class="t-body2 gap-top-3">{% trans %}Your account has been successfully anonymized.{% endtrans %}</p>
<p class="t-body2 gap-top-3">{% trans %}If you have any questions or concerns, please contact our support team.{% endtrans %}</p>
{% endblock %}