{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}Your account has been successfully anonymized.{% endtrans %}

{% trans %}If you have any questions or concerns, please contact our support team.{% endtrans %}
{% endblock %}