{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}We were unable to fully anonymize your account due to an unexpected error. Some personal information may remain in our system.{% endtrans %}

{% trans %}Please contact our support team for assistance or more information.{% endtrans %}
{% endblock %}