{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}Your password has expired. For security reasons, please create a new password clicking the following button:{% endtrans %}

{{ url }}
{% endblock content %}
