# baseapp dependencies
-r ../../baseapp-core/testproject/requirements.txt

-e ./baseapp-core[graphql]
-e ./baseapp-auth
-e ./baseapp-notifications
-e ./baseapp-comments
-e ./baseapp-reactions
-e ./baseapp-pages
-e ./baseapp-reports
-e ./baseapp-profiles
-e ./baseapp-blocks

django-notifications-hq==1.8.2
