Hi there,

{{ inviter_name }} has invited you to join {{ profile_name }} as a {{ role }}.

Click the link below to accept:
{{ accept_url }}

This invitation will expire on {{ expiration_date }}.

If you didn't expect this invitation, you can safely ignore this email.
