# baseapp dependencies
-r ../../baseapp/testproject/requirements.txt

-e ./baseapp[graphql]
-e ./baseapp-auth
-e ./baseapp-notifications

django-notifications-hq @ git+https://github.com/django-notifications/django-notifications.git@1.9.0
