# baseapp dependencies
-r ../../baseapp-core/testproject/requirements.txt

-e ./baseapp-core[graphql]
-e ./baseapp-auth
-e ./baseapp-reports
-e ./baseapp-profiles
-e ./baseapp
-e ./baseapp-comments
-e ./baseapp-blocks
-e ./baseapp-follows
-e ./baseapp-pages
-e ./baseapp-notifications
