<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      /* Globals */
      :root {
        --font-family: 'Public Sans', 'Roboto', sans-serif;

        --surface-a50: #ffffff;
        --surface-50: #F7F7F7;
        --surface-300: #B7BBBF;
        --surface-500: #5D6770;
        --surface-700: #363D43;
        --surface-900: #15171A;

        --primary-main: #5852F2;
        --primary-contrast: var(--surface-a50);

        --elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      }

      body {
        margin: 0px;
        color: var(--surface-900);
      }

      p {
        margin: 0px;
      }


      /* Containers */
      .wrapper {
        background-color: var(--surface-50);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 16px;
      }

      .container {
        background-color: var(--surface-a50);
        border-radius: 12px;
        max-width: 512px;
        width: 100%;
        overflow: auto;
        display: grid;
      }

      .header {
        padding: 32px;
        display: flex;
        background-color: var(--primary-main);
        align-items: center;
        justify-content: flex-start;
      }

      .content {
        display: grid;
        gap: 24px;
        align-items: center;
        justify-items: center;
        padding: 32px 48px;
      }

      .footer {
        background-color: var(--surface-700);
        color: var(--primary-contrast);
        display: grid;
        gap: 32px;
        padding: 48px;
        justify-items: center;
      }

      .social-media-container {
        display: grid;
        gap: 24px;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(1, max-content)
      }


      /* Typography */
      .t-body2 {
        font-family: var(--font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        letter-spacing: 0.17px;
      }

      .t-h6 {
        font-family: var(--font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0.15px;
      }

      .t-button {
        font-family: var(--font-family);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.17px;
      }

      .t-caption {
        font-family: var(--font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        letter-spacing: 0.4px;
      }


      /* Components */
      .heading {
        width: 100%;
      }

      .button {
        display: flex;
        padding: 8px 22px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: var(--primary-main);
        box-shadow: var(--elevation-2);
        cursor: pointer;
        width: fit-content;
        color: var(--primary-contrast);
        text-decoration: none;
      }

      .anchor {
        cursor: pointer;
        text-decoration: none;
      }

      .image {
        max-width: 512px;
        width: 100%;
      }

      .overflowing-image {
        max-width: 512px;
        width: calc(100% + 92px);
      }

      .logo {
        width: 100%;
      }

      .social-logo {
        height: 24px;
        width: 24px;
      }

      .footer-caption {
        color: var(--surface-500);
        text-align: center;
        white-space: pre-line;
      }
    </style>
  </head>
  <body itemscope itemtype="http://schema.org/EmailMessage">
    <div class="wrapper">
      <div class="container">
        <header class="header">
          <img class="logo" src="{{ static('emails/logo.png') }}" alt="Logo" />
        </header>
        <div class="content">
          {% block content %}{% endblock %}
          {{ template_content|safe }}
        </div>
        <footer class="footer">
          <img src="{{ static('emails/logo.png') }}" alt="Logo" />
          <p class="footer-caption t-caption">Streamlining development with a versatile modular template for all people. Innovate, integrate, and launch faster. </p>
          <div class="social-media-container">
            <a class="anchor" target="_blank" rel="noopener noreferrer" href="https://www.x.com/">
                <img class="social-logo" alt="X Logo" src="{{ static('social/flat-x.png') }}" />
            </a>
            <a class="anchor" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/">
                <img class="social-logo" alt="Youtube Logo" src="{{ static('social/flat-youtube.png') }}" />
            </a>
            <a class="anchor" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/">
                <img class="social-logo" alt="Instagram Logo" src="{{ static('social/flat-instagram.png') }}" />
            </a>
            <a class="anchor" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/">
                <img class="social-logo" alt="LinkedIn Logo" src="{{ static('social/flat-linkedin.png') }}" />
            </a>
            <a class="anchor" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/">
                <img class="social-logo" alt="Facebook Logo" src="{{ static('social/flat-facebook.png') }}" />
            </a>
          </div>
          <p class="footer-caption t-caption">
            123 Sample Street, Floor 1 <br />
            Boca Raton, FL, 12345
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>