{% extends "allauth/layouts/entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Confirm Email Address" %}
    {% endelement %}
    {% if confirmation %}
        {% element panel %}
            {% slot body %}
                {% user_display confirmation.email_address.user as user_display %}
                <p>
                    {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
                </p>
            {% endslot %}
        {% endelement %}
        {% url 'account_confirm_email' confirmation.key as action_url %}
        <form method="post" action="{{ action_url }}" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-primary w-100">
                <span>{% trans "Confirm" %}</span>
            </button>
        </form>
    {% else %}
        {% element panel %}
            {% slot body %}
                {% element alert level="error" %}
                    {% slot message %}
                        {% trans "This email confirmation link expired or is invalid. Please issue a new email confirmation request." %}
                    {% endslot %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% url 'account_email' as email_url %}
                {% element button href=email_url tags="prominent" %}
                    {% trans "Manage Email Addresses" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}

