{% extends "allauth/layouts/entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Password Changed" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Changed" %}
    {% endelement %}
    {% element panel %}
        {% slot body %}
            {% element alert level="success" %}
                {% slot message %}
                    {% trans "Your password has been changed successfully." %}
                {% endslot %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button href="/admin/" tags="prominent" %}
                {% trans "Go to Admin" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}

