{% extends "allauth/layouts/entrance.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% if token_fail %}
        {% element panel %}
            {% slot body %}
                {% element alert level="error" %}
                    {% slot message %}
                        {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                    {% endslot %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% url 'account_reset_password' as reset_url %}
                {% element button href=reset_url tags="prominent" %}
                    {% trans "Request New Password Reset" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% else %}
        {% element form form=form method="post" action=action_url tags="entrance" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent" %}
                    {% trans "Change Password" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}

