<!DOCTYPE html>
<html lang="en">
<head>
    <title>Referral</title>
    <meta charset="UTF-8">
</head>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you have been invited.</p>
    <p>To use referral code, please go to the following link:</p>
    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>Thank you</p>
</body>
</html>
