-r ../../baseapp-core/testproject/requirements.txt

-e ./baseapp-core[graphql]
-e ./baseapp-auth
-e ./baseapp-notifications
-e ./baseapp-comments
-e ./baseapp-reactions
-e ./baseapp-profiles
-e ./baseapp-pages
-e ./baseapp
-e ./baseapp-organizations