<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            a {
                text-decoration: none;
                margin-right: 16px;
            }
            td {
                text-align: center;
            }
            .container {
                background-color: #F5F9FC;
                border-radius: 16px;
                padding: 48px 48px 0 48px;
            }
            .title {
                color: #1C1B22;
                font-weight: 800;
                font-size: 30px;
            }
            .white-container {
                background-color: white;
                margin-top: 32px;
                padding: 32px;
                border: 1px solid #CDD9E0;
                border-radius: 12px;
            }
            .button-primary {
                display: block;
                width: 93%;
                color: #27923C;
                line-height: 130%;
                font-weight: bold;
                cursor: pointer;
                border-radius: 12px;
                background: #EFF9F3;
                border: 1px solid #3FBF77;
                padding: 16px;
            }
        </style>
    </head>

    <body itemscope itemtype="http://schema.org/EmailMessage" bgcolor="white">
        <table style="width: 100%; max-width: 640px; margin: 0 auto;" bgcolor="white">
            <tr>
                <td>
                    <table class="container" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <img src="{{ static(image or 'emails/verify.png') }}" alt="Logo" />
                                            <h1 class="title">{{ title or 'Verify your email' }}</h1>
                                        </td>
                                    </tr>
                                    <table class="white-container" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <img style="margin-bottom: 48px;" src="{{ static('emails/logo.png') }}" alt="Logo" />
                                            </td>
                                        </tr>
                                    {% block content %}
                                    {% endblock %}
                                    </table>
                                    {% block footer %}
                                    <tr>
                                        <td style="padding: 32px 0 48px; text-align: center; font-weight: 400; color: #393F49;">
                                            If you didn’t ask to {{ (title or 'Verify your email')|lower }}, you can ignore this message.
                                        </td>
                                    </tr>
                                    {% endblock %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-top: 42px; text-align: center;">
                        <a target="_blank" href="https://www.youtube.com/channel/UC4A_FhY8LKA1kOTQDlfmcNA">
                            <img src="{{ static('emails/YouTube.png') }}" alt="Youtube Logo" />
                        </a>
                        <a target="_blank" href="https://www.instagram.com/the_ceo_official_/">
                            <img src="{{ static('emails/Instagram.png') }}" alt="Instagram Logo" />
                        </a>
                        <a target="_blank" href="https://www.twitter.com/c_e_o_official">
                            <img src="{{ static('emails/Twitter.png') }}" alt="Twitter Logo" />
                        </a>
                        <a target="_blank" href="https://www.facebook.com/CEOCreateEveryOpportunity/" style="margin: 0">
                            <img src="{{ static('emails/Facebook.png') }}" alt="Facebook Logo" />
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center; color: #465259; font-size: 12px; font-weight: 400; line-height: 150%;">
                        Copyright © 2023 Create Every Opportunity™. All Rights Reserved.<br/>
                        See our <a href="#" style="color: #0A6BB5; font-weight: 500;">Privacy Policy</a> and <a href="#" style="color: #0A6BB5; font-weight: 500;">Terms of service</a>.
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
