<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head xmlns="http://www.w3.org/1999/xhtml">
    {# This is a base template for testing purposes. See the baseapp-message-templates package for info on implementing a base template for your project #}
  </head>
  <body itemscope itemtype="http://schema.org/EmailMessage">
    {% block content %}
    {{ template_content|safe }}
    {% endblock %}
  </body>
</html>