{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}We received a request to reset the password for your account. If you made this request, please reset your password clicking the button below:{% endtrans %}

{{ url }}

{% trans %}If you did not request a password reset, please ignore this email.{% endtrans %}
{% endblock content %}
