<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>To confirm your new email address and change your email please go to the following link:</p>
<p><a href="{{ url }}">{{ url }}</a></p>
</body>
</html>
