{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello Superusers,{% endtrans %}
{% trans %}Please be notified that, {{ assignee }} is a superuser now. Made by {{ assigner }}.{% endtrans %}
{% endblock content %}