<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
</head>
<body>
    Hello,
    <br>

    <p>You're receiving this email because you requested a password reset </p>

    <br>
    <p>"Please go to the following link</p>

        <a>{{ FRONT_URL }}/forgot-password/{{token}}</a>
    </p>

    <p>"Thank you"</p>

</body>
</html>
