{% extends 'emails/base.txt.j2' %}

{% block content %}
Hello,

You're receiving this email because your password has expired.

To change your password, please go to the following link:

{{ url }}

Thank you
{% endblock content %}
