{% extends 'emails/base.html.j2' %}

{% block content %}
<p class="t-h5">{% trans %}Hello,{% endtrans %}</p>
<p class="t-body2 gap-top-3">{% trans %}Your password has expired. For security reasons, please create a new password clicking the following button:{% endtrans %}</p>
<a href="{{ url }}" class="button t-button gap-top-3 margin-center">{% trans %}Update Password{% endtrans %}</a>
{% endblock %}