{% extends 'emails/base.html.j2' %}

{% block content %}
<p class="t-h5">{% trans %}Hello,{% endtrans %}</p>
<p class="t-body2 gap-top-3">{% trans %}We received a request to reset the password for your account. If you made this request, please reset your password clicking the button below:{% endtrans %}</p>
<a href="{{ url }}" class="button t-button gap-top-3 margin-center">{% trans %}Reset Password{% endtrans %}</a>
<p class="t-caption gap-top-3 text-center">{% trans %}If you did not request a password reset, please ignore this email.{% endtrans %}</p>
{% endblock %}
