{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}You're receiving this email because your password has expired.{% endtrans %}

{% trans %}To change your password, please go to the following link:{% endtrans %}

{{ url }}

{% trans %}Thank you{% endtrans %}
{% endblock content %}
