Hello,

You're receiving this email because you requested a password reset

To reset your password, please go to the following link:

{{ FRONT_URL }}/forgot-password/{{ token }}

If you did not request this email, you can safely ignore it.

Thank you
