{% extends 'emails/base.txt.j2' %}

{% block content %}
Hello,

You're receiving this email because you requested a password reset

To reset your password, please go to the following link:

{{ url }}

If you did not request this email, you can safely ignore it.

Thank you
{% endblock content %}
