{% extends 'emails/base.html.j2' %}

{% block content %}
<p class="t-h5">{% trans %}Hello,{% endtrans %}</p>
<p class="t-body2 gap-top-3">{% trans %}Great to have you on board! Your email has been confirmed. You can start using BaseApp now.{% endtrans %}</p>
{% endblock %}