{% extends 'emails/base.txt.j2' %}

{% block content %}
{% trans %}Hello,{% endtrans %}

{% trans %}Great to have you on board! Your email has been confirmed. You can start using BaseApp now.{% endtrans %}

{% endblock content %}
