{% extends 'emails/base.txt.j2' %}

{% block content %}
We hope you are enjoying your free trial as a member, but unfortunally your trial period will end in 3 days.
You will be subscribed to the {{ plan }} Membership automatically in 3 days.

Thank you
{% endblock content %}
