{% extends 'emails/base.txt.j2' %}

{% block content %}
Thank you for starting your membership.
Enjoy unlimited access to premium on-demand content for {{ trial_days }} days free of charge. After your trial expires, you will be automatically charged for your new subscription.

Thank you"
{% endblock content %}
